name: Generate SBOM

on:
  push:
    branches: [main]
  release:
    types: [published]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate sbom
        uses: anchore/sbom-action@v0
        with:
          path: .
          output-file: sbom.json

      - name: Upload SBOM artifact
        uses: actions/upload-artifact@v4
        with:
          name: sbom
          path: sbom.json
