name: Generate SBOM

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [published]

jobs:
  sbom:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate sbom
        uses: anchore/sbom-action@v0
        with:
          path: .
          format: cyclonedx-json

      - name: Upload SBOM and Artifacts
        if: github.event_name == 'release'
        uses: actions/upload-artifact@v3
        with:
          name: release-artifacts-${{ github.ref_name }}
          path: |
            *cyclonedx.json
