name: Generate SBOM

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [published]

jobs:
  sbom:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create SBOM
        uses: anchore/sbom-action@v0
        id: sbom
        with:
          format: cyclonedx-json
          output-file: "${{ github.event.repository.name }}-sbom.cyclonedx.json"

      # - name: Upload release sbom
      #   uses: anchore/sbom-action/publish-sbom@v0
      #   with:
      #     sbom-artifact-match: ".*\\cyclonedx.json$"
